body{
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 225, 225);
    height: 89%;
}
section{
    height: 80%;
    width: 80%;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
h2{
    text-align: center;
}